/*------------------------------------------------------------------
# [Stylesheet Introduction]

Project Name      :  
Primary use       :  
Version           :  
Last Edits        :  
Coding End Time   :  
Coder             : 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Table Of Contents]
// when the screen > 767px
 Body
  ├── 
  ├── 
  ├── 
  ├── 
  ├── 
  ├── 
  ├──

// when the screen < 767px
 Body
  ├── 
  ├── 
  ├──
  
// Un orderd elements
  ├── Loading Screen
  ├── back to top button
    
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Typography]

# Body    : 0.8em/1.2em 'Raleway', sans-serif;
# Headers : 1em/2em 'Raleway', serif;
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Colors Used]

# Headers , Text     : #1d9cd6 / #444 ; 
# Links   , On Hover : #fff   / #1d9cd6 ;
------------------------------------------------------------------*/
/* ====================================================
General Style
======================================================== */
  /*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,800&display=swap');
body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
a{color: #444;text-decoration: none;}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #444;
  font-weight: 700;
  text-transform: capitalize;
}
h3,
h4,
h5,
h6{font-weight: 500;}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
section{
  margin: 100px auto 50px;
}

/* 
   Helper classes
*/

.transition{
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

/* ============================== End General ============================== */


/*

  ##MUSTAFA START HERE

*/
header .navbar{
  background: #fc4311;
  padding: 10px 0px;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background:no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 576px) { 

  .navbar-container{margin: 0 20px;}
}
.display-4{
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
.lead{
  font-size: 22px;
  color: #fff;
}

.carousel-caption{
  top: 30%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #080d15;
  opacity: .7;
}

/*MUSTAFA END HERE*/









/*

  ##OKTAY START HERE

*/

.oktay-text{
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
 
}

.oktay-letter-spacing{
  letter-spacing: 0.3rem;
}

.oktay-fit-container{
  width: fit-content;
}


.oktay-bold{
  font-weight: 800;
  font-size: 2.5em;
  color: black;
}

.oktay-img{
  width: 100%;
  border-radius: 2em;

}
.oktay-about-img{
  width: 100%;
  border-radius: 2em;
}
.oktay-img:hover{
  box-shadow: red 0.2em 0.2em 1em;
  filter: grayscale();
}




/*OKTAY END HERE*/









/*

  ZAYNEB  START HERE

*/


.zrow1 {

  align-content: center;
}

#zh2 {

  border-bottom: #FC4311 solid 1px;
  font-weight: 800;
  font-size: 2.5em;
  color: black;
  

}


#cimg {

  width: 3rem;
  margin-right: 1rem;

}








/*ZAYNEB END HERE*/











/*

  MUHAMMED START HERE

*/
#contact-us{
   background-color: #2f2e2e;
   padding: 0 0 40px 0;
   margin: 0;
 }
#contact-us h2{
  color: #fff;
  padding: 10px 0;
  margin-top: 50px;
  border-bottom: 1px solid #fff;
}
#contact-us input[type="submit"]{
  border:  black;
  background-color: black;
  color: #fff;
}
#contact{
  background-color:#fc4311;
}
#contact i{
  color: #fff;
}
#contact h2{
  color: #fff;
}
#love{
  background-color: #fff;
  padding: 10px 0;
}
#love h3{
  color: #000;

}


/*MUHAMMED END HERE*/


/*==================================================
=            Bootstrap 4 Media Queries             =
==================================================*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
